@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Roboto';
}
main{
    display: inline-flex;
    width: 98vw;
    flex: row wrap;
    justify-content: center;
}
header{
    height: 55px;
}
.container-header{
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.menu{
    margin-left: 20px;
}
#ytb{
    width: 120px;
    margin-left: 50px;
}
.menu img {
    width: 30px;
}
#icon-v{
    width: 30px;
    margin-right: 20px;
}
#icon-a{
    width: 30px;
    margin-right: 20px;
}
.searchbar{
    align-self: center;
}

.container-1 {
}
.section-2{
    display: flex;
    flex: column nowrap;
}
.section-1{
    margin-right: 30px;
    margin-left: 20px;
}
.inline {
    display: inline-block;
}
#video{
    width: 1320px;
}
.description{
    display: block;
    width: 900px;
}
.thumb-container{
    display: flex; 
    flex-shrink: 0;
    margin-bottom: 10px;

}
.thumb-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.thumb-container img {
}

.thumb-info p {
    font-size: 0.8em;
    margin-bottom: 3px;
}
span {
    font-weight: bold;
    font-size: 1.2em;
    width: 270px;
}
.description > h3 > p > span{
    font-size: 1.2em;
}
#avatardio{
    width: 50px;
    margin-right: 10px;
}

.container-1 button {
    margin-left: 70px;
    margin-right: 70px;
    width: 200px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: #CC0000;
    border: 0;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 15px;
}
.backinfo{
    display: flex;
    flex: row nowrap;
    align-items: center;
    flex-grow: 0;
}

.backinfo > p > span {
    font-weight: normal;
    margin: 0px 50px 0px 5px;
}